.home { 
    display: flex;
    /* background: url(images/banner.jpg) no-repeat center; */
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=art-artistic-background-1103970.jpg&fm=jpg");
    
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home1 { 
  display: flex;
  /* background: url(images/banner.jpg) no-repeat center; */
  
  background-image: url("https://drive.google.com/file/d/11Ox-cps2FgMaGdrynbYyNOn7wGfuTURU/preview");
  
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.navbar-toggler {
    text-decoration: none;
    outline: 0;
    box-shadow: 0px 0px 0px .1rem #90e5ff
  }

.navbar-toggler-icon {
    background-image: url("https://icon-library.com/images/menu-icon-svg/menu-icon-svg-29.jpg");
  }



.about_animation{
  width: 246px;
  overflow: hidden;
}
.about_animation .text{
  position: relative;
  color: #00a271;
  font-size: 1.4rem;
  font-weight: 300;
}
.about_animation .text.first-text{
  color: black;
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid #00a271;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}
