





.home { 
    display: flex;
    /* background: url(images/banner.jpg) no-repeat center; */
    background-image: url("https://res.cloudinary.com/dufkvcmoh/image/upload/v1736236333/personal_website/inxaqtarvcxwoe5eltbq.jpg");
    
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home1 { 
  display: flex;
  /* background: url(images/banner.jpg) no-repeat center; */
  
  background-image: url("https://res.cloudinary.com/dufkvcmoh/image/upload/v1685341587/personal_website/anmy4blyit4xpszvmou4.jpg");
  
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.navbar-toggler {
    text-decoration: none;
    outline: 0;
    box-shadow: 0px 0px 0px .1rem #66dfba
  }

.navbar-toggler-icon {
    background-image: url("https://icon-library.com/images/menu-icon-svg/menu-icon-svg-29.jpg");
  }



.about_animation{
  width: 246px;
  overflow: hidden;
}
.about_animation .text{
  position: relative;
  color: #00a271;
  font-size: 1.4rem;
  font-weight: 300;
}
.about_animation .text.first-text{
  color: black;
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(247, 247, 247);
  border-left: 2px solid #00a271;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}

.image_rev{
  border-width: 10px;
  border-color: rgba(253, 253, 253,80);
  border-style: solid;
  box-shadow: 0px 0px 30px rgb(224, 224, 224) ;
}

.cover{
  background: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade-out 1.5s;
}

.cover #icon {
  --size: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: var(--size);
  animation: zom-out .5s;
  animation-delay: 1s;
  

}


@keyframes zom-out {
  50%{
    width: var(--size);
  }
  55%{
    width: calc( var(--size)/1.9);

  }
  100%{
    width: 0%;
  }

}

@keyframes fade-out{
  0%,85%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    
  }
}
