.home { 
    display: flex;
    /* background: url(images/banner.jpg) no-repeat center; */
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=art-artistic-background-1103970.jpg&fm=jpg");
    
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.navbar-toggler {
    text-decoration: none;
    outline: 0;
    box-shadow: 0px 0px 0px .1rem #90e5ff
  }

.navbar-toggler-icon {
    background-image: url("https://icon-library.com/images/menu-icon-svg/menu-icon-svg-29.jpg");
  }

#card_11{
  display: table-cell;
}